[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

@font-face {
  font-family: raleway_thin;
  src: url(/fonts/raleway_thin-webfont.woff);
}

.font-raleway_thin {
  font-family: raleway_thin;
}

@media screen and (min-width: 580px) {
  .container {
    box-shadow: 2px 2px 5px 5px #eee;
    margin-top: 40px;
    margin-bottom: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}

.container {
  min-height: 43vh;
  margin-top: 30px;
  margin-bottom: 35px;
}

#load {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  background: url("/img/loading2_circlefill.svg") no-repeat center center rgba(0, 0, 0, 0.5)
}

@media screen and (max-width: 580px) {
  .tab-highliter {
    background: #eee;
    border-radius: 100px;
  }
}

@media screen and (min-width: 580px) {
  .tab-highliter {
    border-bottom: 3px solid rgb(59, 97, 153);
  }
}

.tab-highliter:hover {
  border-bottom: 3px solid #2d5ca8;
}

}

.logoText {
  font-weight: bolder;
  color: blue;
  font-family: sans-serif, Helvetica, Arial;
  font-size: 8vmin;
  text-shadow: -1px 0 white, 0 0.3vh #999, 1px 0 white, 0 -1px white;
  -webkit-animation: colorchangelogoText 20s infinite alternate;
}

@-webkit-keyframes colorchangelogoText {
  0% {
    color: blue;
  }
  10% {
    color: #8e44ad;
  }
  20% {
    color: #1abc9c;
  }
  30% {
    color: #d35400;
  }
  40% {
    color: blue;
  }
  50% {
    color: #34495e;
  }
  60% {
    color: blue;
  }
  70% {
    color: #2980b9;
  }
  80% {
    color: #f1c40f;
  }
  90% {
    color: #2980b9;
  }
  100% {
    color: pink;
  }
}

.logoText:hover {
  text-decoration: none;
}

body, html {
  /* font-family: ff-din-web-pro, Helvetica, Arial, sans-serif; */
}

/* used for home background stage image */

.amazingslider-nav-1 {
  background: #aaa;
}

.founder-res {
  min-width: 100px;
  min-height: 250px;
  max-width: 200px;
  max-height: 250px;
  border: 5px solid #eee;
  align-items: center;
}

.img-gal {
  max-width: 100%;
  width=210px;
  height=120px;
  border: 1px solid #eee;
  text-align: center;
  position: sticky;
  /* vertical-align: middle; */
}

.img-gal:hover {
  box-shadow: 2px 2px 5px 5px #999;
  border-radius: 2px;
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: 0.5;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.mainHeading {
  background: linear-gradient(#999, #ddd);
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-shadow: 2px solid black;
  font-size: 30px;
}

#collapsibleNavbar li a:hover {
  border-bottom: 3px solid rgb(59, 97, 153);
}

#collapsibleNavbar li a:active {
  background: linear-gradient(#999, #ddd);
  /* border-radius: 10px 10px 0px 0; */
}

.homeStageBgImg {
  background: #25282d url('/img/POVERTY-fb.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}

/* used for home background stage image caption */

.homeStageBgImg-caption {
  background: rgba(255, 255, 255, 0.6);
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Datatables sorting_asc_desc */

/* .sorting_asc {
  background: #aab;
}

.sorting_desc {
  background: #bba;
} */

/* input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid #ff8080;
} */

input[disabled], button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* The starting CSS styles for the enter animation */

section.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */

section.ng-enter.ng-enter-active {
  opacity: 1;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}
