[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_light.woff);
}

@font-face {
  font-family: myFirstFont;
  src: url(sansation_bold.woff);
}


@media screen and (min-width: 580px){
	.container {
	box-shadow: 2px 2px 5px 5px #eee;
	margin-top: 40px;
	margin-bottom: 50px;
	padding-top: 15px;
	padding-bottom: 15px;
	}
}
.container {
	min-height: 43vh;
	margin-top: 30px;
	margin-bottom: 35px;
}
.nav-active {
	border-bottom: 3px solid blue;
	background: #ccc;
	border-radius: 10px;
	color: #100;
}


/* body, html {
    font-family: ff-din-web-pro, Helv	etica, Arial, sans-serif;
}
 */

/* used for home background stage image */

.img-gal {
  max-width: 100%;
  width=210px;
  height=120px;
  border: 1px solid #eee;
  /* vertical-align: middle; */
}

.img-gal:hover {
  box-shadow: 2px 2px 5px 5px #999;
  border-radius: 2px;
  cursor: pointer;
  animation: shake 0.5s;
  animation-iteration-count: 0.5;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.moon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  box-shadow: 15px 15px 0 0 #545960;
  position: relative;
  display: inline-block;
}

.mainHeading {
  background: linear-gradient(#999, #ddd);
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-shadow: 2px solid black;
  font-size: 30px;
}

#collapsibleNavbar li a:hover {
  border-bottom: 3px solid rgb(59, 97, 153);
  font-size: 18px;
}

#collapsibleNavbar li a:active {
  background: linear-gradient(#999, #ddd);
  border-radius: 10px 10px 0px 0;
}

.homeStageBgImg {
  background: #25282d url('/img/POVERTY-fb.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}

/* used for home background stage image caption */

.homeStageBgImg-caption {
  background: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

/* Datatables sorting_asc */

.sorting_asc {
  background: #aab;
}

/* Datatables sorting_desc */

.sorting_desc {
  background: #bba;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid #ff8080;
}

input[disabled], button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* The starting CSS styles for the enter animation */

section.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */

section.ng-enter.ng-enter-active {
  opacity: 1;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}
