[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

/* @font-face {
   font-family: myFirstFont;
   src: url(sansation_light.woff);
}
@font-face {
    font-family: myFirstFont;
    src: url(sansation_bold.woff);
    font-weight: bold;
}

body, html {
   font-family: myFirstFont;
} */

/* body, html {
    font-family: ff-din-web-pro, Helv	etica, Arial, sans-serif;
}
 */

/* used for home background stage image */

.mainHeading {
  background: linear-gradient(#999, #ddd);
  color: rgba(0, 0, 0, 1);
  text-transform: uppercase;
  text-shadow: 2px solid black;
  font-size: 30px;
}
#collapsibleNavbar li a:hover{
  border-bottom: 3px solid rgb(59, 97, 153);
  font-size: 18px;
}
#collapsibleNavbar li a:active{
  background: linear-gradient(#999, #ddd);
  border-radius: 10px 10px 0px 0;
}
.homeStageBgImg {
  background: #4d9abf url('/img/POVERTY-fb.jpg') center center no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  align-items: center;
}

/* used for home background stage image caption */

.homeStageBgImg-caption {
  background: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  max-width: 60rem;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

.pageTitle {
  background: linear-gradient(to right, #006666, #009999);
  opacity: 0.5;
  color: #ccc;
  padding: 10px;
  font-size: 17px;
  border-radius: 3px;
}

/* jQuery validation error */

.error {
  color: voilet;
}

/* Datatables sorting_asc */

.sorting_asc {
  background: #aab;
}

/* Datatables sorting_desc */

.sorting_desc {
  background: #bba;
}

input.ng-invalid.ng-touched, textarea.ng-invalid.ng-touched {
  border: 1px solid #ff8080;
}

input[disabled], button[disabled] {
  cursor: not-allowed;
  opacity: 0.5;
}

/* The starting CSS styles for the enter animation */

section.ng-enter {
  transition: 1s linear all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */

section.ng-enter.ng-enter-active {
  opacity: 1;
}

.arrow-up {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-buttom: 10px solid #d2d2d2;
  display: inline-block;
  cursor: pointer;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 10px solid #d2d2d2;
  display: inline-block;
  cursor: pointer;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout h4 {
  margin-top: 0;
  margin-bottom: 5px;
}

.bs-callout p:last-child {
  margin-bottom: 0;
}

.bs-callout code {
  border-radius: 3px;
}

.bs-callout+.bs-callout {
  margin-top: -5px;
}

.bs-callout-default {
  border-left-color: #777;
}

.bs-callout-default h4 {
  color: #777;
}

.bs-callout-primary {
  border-left-color: #428bca;
}

.bs-callout-primary h4 {
  color: #428bca;
}

.bs-callout-success {
  border-left-color: #5cb85c;
}

.bs-callout-success h4 {
  color: #5cb85c;
}

.bs-callout-danger {
  border-left-color: #d9534f;
}

.bs-callout-danger h4 {
  color: #d9534f;
}

.bs-callout-warning {
  border-left-color: #f0ad4e;
}

.bs-callout-warning h4 {
  color: #f0ad4e;
}

.bs-callout-info {
  border-left-color: #5bc0de;
}

.bs-callout-info h4 {
  color: #5bc0de;
}
