<script>
	$(document).ready(function() {
		$('[data-toggle="tooltip"]').tooltip();

		//$('#insideAbout > div').addClass('col-md');
		$('#insideAbout > div > h4').css({
			'color': '#111'
		}); /* $('#insideAbout div p').addClass('card-body'); */
	});
</script>

<!-- style="background: linear-gradient(to top right, #0099cc 0%, #ccccff 100%);" -->
<div class="pt-5 pb-5 bg-light border d-md-flex align-items-center">
	<div id="insideAbout" class="text-center col-md">
		<div class="text-center">
			<div class="mb-2"><img src="/img/goal.svg" alt="" width="50"></div>
			<h4 class=""> Mission</h4>
			<p class="">The Alimdaad Society is a non-profit humanitarian organisation (NGO) registered in Telangana State of India, started with the main aim to establish <span style="border-bottom: 0.5px dotted black;">Collective System of Zakath </span><a href="#" data-toggle="tooltip"
				  title="Collective System of Zakath essentially means Collecting of Zakath from Contributors, Saving it and Distributing it round the year according to the needs of the poor. This system is adopted because usually people donate only in the month of Ramazan."><i class="fa fa-question-circle-o"></i></a>				and to distribute it round the year.</p>
		</div>

		<div class="text-center">
			<div class="mb-2"><img src="/img/0_percent.svg" alt="" width="50"></div>
			<h4 class="">At Zero Comission</h4>
			<p class="">The amount collected is purely distributed to the needy <span style="border-bottom: 0.5px dotted black;">without any penny</span> going towards the society’s expenditures.</p>
		</div>

		<div class="text-center">
			<div class="mb-2"><img src="/img/history clock button.svg" alt="" width="50"></div>
			<h4 class="">History</h4>
			<p class="">On the auspicious occasion of Ramazan-ul-Mubarak in October 2005, society was established under the guidance and chairmanship of <em>Alhaj Ahmed Meeran Mohiuddin Taj</em>, retired Engineer-in-Chief (R&amp;B Dept). Alhamdulillah, this work has been
				going on since last 12 years. <em>Abdul Kareem Taj</em>, a teacher by occupation dedicated his time and has been acting as a <mark>Zakath Distributor</mark> as well as the <mark>Treasurer</mark> of the society.</p>
		</div>

		<div class="text-center"><a href="/About" class="btn btn-outline-dark mt-3 font-weight-bold">More About Us</a></div>
	</div>
	<hr class="d-md-none mt-4 pb-3">
	<div ng-include="founderPortfolio" class="col-md"></div>
</div>
