<!-- background: linear-gradient(to top left, #3399ff 0%, #ccccff 100%); -->
<!-- background: linear-gradient(to top left, #6666ff 0%, #3399ff 100%); -->
<!-- background: linear-gradient(to bottom right, #003366 0%, #006699 100%); -->

<div class="p-4" style="background: linear-gradient(to right, #003366, #006699, #003366); color: #eee;">
	<h3>Contact</h3>
	<p><em>We love to hear from you!</em></p>

	<div class="d-md-flex align-items-center row">

		<div class="col-md-6">

			<form action="mailto:ammohidduin@gmail.com" enctype="text/plain">

				<div class="input-group form-group">
					<span class="input-group-addon"><i class="fa fa-user fa-fw"></i></span>
					<input class="form-control" name="name" placeholder="Enter Your Name" type="text" required pattern="[A-Za-z. ]{3,30}" title="Allowed only [A-Z a-z .] characters of length between 3 to 30" />
				</div>


				<div class="input-group form-group">
					<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
					<input class="form-control" name="email" placeholder="Enter Your Email" type="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Email must be in the following order: characters@characters.domain">
				</div>

				<div class="input-group form-group">
					<span class="input-group-addon"><i class="fa fa-comment fa-fw"></i></span>
					<textarea type="text" class="form-control" name="comments" placeholder="Enter Your Message" rows="6" required pattern="[A-Za-z. ,]{10,250}" title="Allowed only [A-Z a-z . , ] characters of length between 10 to 250"></textarea>
				</div>

				<input class="btn btn-primary btn-large" type="submit" value="Submit" />

			</form>

		</div>

		<br>

		<div class="col-md-2 text-center"><br></div>

		<div class="col-md-4 mb-3" style="color: #ddd;">

			<p class="d-non">
				Or you may drop a note to:<br>
				<i aria-hidden="true" class="fa fa-envelope-o"></i> Email: <a href="mailto:ammohidduin@gmail.com" class="text-light">ammohidduin@gmail.com</u></a>
			</p>

			<b><i aria-hidden="true" class="fa fa-map-marker"></i> INDIA</b>
			<p>
				# 1-3-27, Hajikhanpet Street, Narayanpet, Telangana - 509210.
			</p>
			<b><i aria-hidden="true" class="fa fa-map-marker"></i> USA</b>
			<p>
				<span class="glyphicon glyphicon-map-marker"></span> &nbsp;6259 North Mozart Street, Apt 1 N Chicago, Illinois - 60659.
			</p>
			<b><i aria-hidden="true" class="fa fa-phone"></i> Phone Numbers</b>
			<p>India - 9885151534, 9885914060<br>USA - 7733312467, 3122035607, 2526863326</p>
		</div>

	</div>
</div>


<div class="bg-light p-4">
	<div class="h3 text-capitalize mb-4"><i aria-hidden="true" class="fa fa-user-circle font-weight-bold"> Organizational Committe</i></div>

	<p style="list\-style\-type:none"><span class="badge badge-secondary">1</span> &nbsp;Alhaj Ahmed Meeran Mohiuddin Taj (Rtd. Engineer-in-Chief R&amp;B) - <b>Founder &amp; President</b></p>
	<p style="list\-style\-type:none"><span class="badge badge-secondary">2</span> &nbsp;Mohd Abdul Kareem Taj (Teacher) - <b>Treasurer &amp; Co-Founder</b></p>
	<p style="list\-style\-type:none"><span class="badge badge-secondary">3</span> &nbsp;Alhaj Mohd Muqtadir Mujahid (Lecturer) - <b>Vice President</b></p>
	<p style="list\-style\-type:none"><span class="badge badge-secondary">4</span> &nbsp;Abdus Saleem (Advocate) - <b>Secretary</b></p>
	<p style="list\-style\-type:none"><span class="badge badge-secondary">5</span> &nbsp;Alhaj Mohd Gouse Tengsal (Rtd. Engineer) - <b>Chief Organizer</b></p>
	<p style="list\-style\-type:none"><span class="badge badge-secondary">6</span> &nbsp;Abdul Rawoof Chand (Prop. B.R Chand Jewellers) - <b>Joint Treasurer</b></p>

	<p style="list\-style\-type:none" class="d-none"><span class="badge badge-secondary">6</span> &nbsp;Abdul Muqeeth Taj (Software Engineer) - <b>Web Designer &amp; Architect</b></p>
</div>



<div style="background: linear-gradient(to right, #4c0f48, #821677, #4c0f48);" class="p-3 text-center">
	<div class="h1 text-light ">Activities served as of now</div>
	<div class="text-center row">
		<div class="bg-info m-3 col-md rounded rounded-circle ">
			<!-- Show only on medium and below devices -->
			<div class="d-md-none display-3 font-weight-bold">150+</div>
			<!-- Show only on medium and above devices -->
			<div class="d-none d-md-block display-1 font-weight-bold">150+</div>
			<div class="h6 text-light">Contributors</div>
		</div>

		<div class="bg-info m-3 col-md rounded rounded-circle ">
			<div class="d-md-none display-3 font-weight-bold">300+</div>
			<div class="d-none d-md-block display-1 font-weight-bold">300+</div>
			<div class="h6 text-light">Pensioners</div>
		</div>

		<div class="bg-info m-3 col-md rounded rounded-circle ">
			<div class="d-md-none display-3 font-weight-bold">100+</div>
			<div class="d-none d-md-block display-1 font-weight-bold">100+</div>
			<div class="h6 text-light">Marriages</div>
		</div>

		<div class="bg-info m-3 col-md rounded rounded-circle ">
			<div class="d-md-none display-3 font-weight-bold">100+</div>
			<div class="d-none d-md-block display-1 font-weight-bold">100+</div>
			<div class="h6 text-light">Medical Aid</div>
		</div>



	</div>
	<div class="text-light mt-3 mb-3">Be a part of the society by contributing today... <a href="/Donate">Donate Now</a></div>

</div>
