<nav class="text-center bg-dark" style="color:#999;">
	<!-- ng-click="scrollTo('top')" -->

		<a onclick="window.scrollTo(0,0)" href="#" title="Go to Top"><img src="/img/backtotop.png" alt="^" height="60px" "></a><br>
		<b>&copy; AlimdaadSociety.org&nbsp;&nbsp;|&nbsp;&nbsp;#Reg No. 321/16&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved.</b><br>
		<p class="d-none">Developed & Maintained By Abdul Muqheet Taj (Software Engineer).</p>
		<p>Best viewed in IE 9.0+, Chrome 4.0+, Mozilla Firefox 3.5+, Opera 10.0+ and Safari 3.2+</p>
		<p>
			<a href="/">Home</a> -
			<a href="/About">About</a> -
			<a href="/#contact">Contact</a> -
			<a href="/Gallery">Gallery</a> -
			<a href="/Donate">Donate</a>
		</p>

		<img src="http://www.reliablecounter.com/count.php?page=170835807&digit=style/plain/31/&reloads=1"  border="0">
</nav>
