<!-- <div class="row"> -->
<!-- <div class="col-md"></div> -->
<div class="">
  <div class="card bg-secondary text-center">
    <div class="card-header">
      <img class="card-img-top text-center img-gal" src="/img/Founder.jpg" alt="Founder Image" style="width: 200px; height: 250px; min-width: 200px; border: 5px solid #eee;">
    </div>

    <div class="card-body">
      <div class="h2 text-dark">Alhaj Ahmed Meeran Mohiuddin Taj</div>
      <div class="h4" style="color: #eee;">Founder & President of Alimdaad Society</div>
      <div class="" style="color: #eee;">Rtd. Engineer-­in­‐Chief R&amp;B Dept - Telangana & A.P, India.</div>
      <p class="mt-2"><i class="fa fa-map-marker"></i> Chicago, United States of America <br> Ex-Resident of Hyderabad, India</p>
    </div>

  </div>
</div>
<!-- <div class="col-md"></div> -->
<!-- </div> -->
