<!-- <div class="row"> -->
<!-- <div class="col-md"></div> -->
<div class="">
  <div class="card text-center">
    <div class="card-header text-center bg-secondary">
      <img class="card-img-top founder-res imgLoading" src="/img/Founder.jpg" style="">
    </div>

    <div class="card-body bg-secondary">
      <div class="h2 text-dark">Alhaj Ahmed Meeran Mohiuddin Taj</div>
      <div class="h4" style="color: #eee;">Founder & President of Alimdaad Society</div>
      <div class="" style="color: #eee;">Rtd. Engineer-­in­‐Chief R&amp;B Dept - Telangana & A.P, India.</div>
      <!-- <p class="mt-2 d-none"><i aria-hidden="true" class="fa fa-map-marker"></i> Chicago, United States of America <br> Ex-Resident of Hyderabad, India</p> -->
    </div>

  </div>
</div>
<!-- <div class="col-md"></div> -->
<!-- </div> -->
