<!-- Insert to your webpage where you want to display the slider -->
<div id="amazingslider-wrapper-1" style="display:block;position:relative;max-width:1200px;margin:0px auto 56px;">
	<div id="amazingslider-1" style="display:block;position:relative;margin:0 auto;">
		<ul class="amazingslider-slides" style="display:none;">
			<li><img src="images/gal-img-1.jpg">
			</li>
			<li><img src="images/gal-img-2.jpg">
			</li>
			<li><img src="images/gal-img-3.jpg">
			</li>
			<li><img src="images/gal-img-4.jpg">
			</li>
			<li><img src="images/IMG-1.jpg">
			</li>
			<li><img src="images/IMG-2.jpg">
			</li>
			<li><img src="images/IMG-3.jpg">
			</li>
			<li><img src="images/IMG-4.jpg">
			</li>
			<li><img src="images/IMG-5.jpg">
			<!-- </li>
			<li><img src="images/IMG-6.jpg">
			</li> -->
			<li><img src="images/IMG-7.jpg">
			</li>
			<li><img src="images/IMG-8.jpg">
			<!-- </li>
			<li><img src="images/IMG-9.jpg">
			</li> -->
		</ul>
		<ul class="amazingslider-thumbnails" style="display:none;">
			<li><img src="images/IMG-1-tn.jpg"></li>
			<li><img src="images/IMG-2-tn.jpg"></li>
			<li><img src="images/IMG-3-tn.jpg"></li>
			<li><img src="images/IMG-4-tn.jpg"></li>
			<li><img src="images/IMG-5-tn.jpg"></li>
			<!-- <li><img src="images/IMG-6-tn.jpg"></li> -->
			<li><img src="images/IMG-7-tn.jpg"></li>
			<li><img src="images/IMG-8-tn.jpg"></li>
			<!-- <li><img src="images/IMG-9-tn.jpg"></li> -->
		</ul>
	</div>
</div>
<!-- start of head section HTML codes -->
<script src="sliderengine/jquery.js"></script>
<script src="sliderengine/amazingslider.js"></script>
<link rel="stylesheet" type="text/css" href="sliderengine/amazingslider-1.css">
<script src="sliderengine/initslider-1.js"></script>
<!-- End of head section HTML codes -->
