<div class="text-center d-md-none" style="background: linear-gradient(to right, orange,white,green); color: #111;">
	<div class="d-flex align-items-center justify-content-center logoText mt-0 pt-0" style="background: linar-gradient(to right, orange,white,green); color: #111;">
		<span class="m-0 p-0"><img src="/img/zakath_2.5p_1.svg" alt="logo" height="50"></span>
		<span class="display-4 m-0 p-0"> &nbsp;AL</span>
		<spnan class="h4 m-0 p-0 font-weight-bold">imdaad<br>Society</spnan>
		<span class="h4">.</span>
		<spnan class="h4 m-0 p-0 ">org</spnan>
	</div>
</div>




<nav class="navbar navbar-light text-info navbar-expand-sm font-weight-bold text-center bg-light" style="border-bottom: 3px solid #eee;">

	<li class="d-none d-md-inline-block border rounded border-primary mr-4">
		<div class="d-flex align-items-center justify-content-center logoText mt-0 pt-0" style="background: linar-gradient(to right, orange,white,green); color: #111;">
			<span class="m-0 p-0"><img src="/img/zakath_2.5p_1.svg" alt="logo" height="50"></span>
			<span class="display-4 m-0 p-0"> &nbsp;AL</span>
			<spnan class="h4 m-0 p-0 font-weight-bold">imdaad<br>Society</spnan>
			<span class="h4">.</span>
			<spnan class="h4 m-0 p-0 ">org</spnan>
		</div>
	</li>


	<li class=" nav-link p-0 d-sm-none">Go To <i aria-hidden="true" class="fa fa-arrow-circle-down"></i></li>

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>
	</button>

	<!-- Contents inside collapsible button -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">

		<ul class="navbar-nav mx-auto">
			<!-- To right align the next ul contents "mr-auto" class is used-->

			<li class="nav-item"><a class="nav-link" href="/"><i aria-hidden="true" class="fa fa-home"></i> Home</a></li>

			<li class="nav-item"><a class="nav-link" href="/About"><i aria-hidden="true" class="fa fa-info-circle"></i> About</a></li>

			<li class="nav-item"><a class="nav-link" href="/#contact" ng-click="scrollTo('contact')"><i aria-hidden="true" class="fa fa-phone-square"></i> Contact</a></li>

			<li class="nav-item"><a class="nav-link" href="/Gallery"><i aria-hidden="true" class="fa fa-picture-o"></i> Gallery</a></li>

			<li class="nav-item"><a class="nav-link" href="/Donate"><i aria-hidden="true" class="fa fa-money"></i> Donate</a></li>

			<li class="nav-item"><a class="nav-link" href="/ZakathCalc"><i aria-hidden="true" class="fa fa-calculator"></i> Zakath Calculator</a></li>

			<li class="nav-item dropdown d-none">
				<a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">Donate</a>

				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="/Donate"><i aria-hidden="true" class="fa fa-money"></i> Donate Now</a>
					<a class="dropdown-item d-none" href="/VerifyDonation">Verify My Donation</a>
					<a class="dropdown-item" href="/ZakathCalc"><i aria-hidden="true" class="fa fa-calculator"></i> Zakath Calculator</a>
				</div>
			</li>
		</ul>

		<!-- <ul class="navbar-nav d-none">
			<li class="nav-item"><a class="btn btn-primary" style="border-radius: 0px 2px 0px 2px; " href="/Login">Sign In</a></li>
		</ul> -->

	</div>
</nav>
