<div class="text-center" style="background: linear-gradient(to right, orange,white,green); color: #111;">
	<!-- <span style="color: orange;">ALIMDAAD</span><span style="color: #444;">SOCIETY</span><span style="color: #ddd;">.</span><span style="color: #32CD32;">COM</span> -->
	<span class="font-weight-bold pb-0" style="font-size: 8vmin; text-shadow: -1px 0 white, 0 0.5vh #999, 1px 0 white, 0 -1px white;">ALIMDAAD.NETLIFY.COM</span>
	<br>
	<span class="text-center d-none" style="font-size: 2vmin;">Serving the Neddy round the clock</span>
</div>



<nav class="navbar navbar-light text-info navbar-left navbar-expand-sm font-weight-bold" style="border-bottom: 3px solid #eee;">
	<li class=" nav-link p-0 d-sm-none">Menu <i class="fa fa-arrow-circle-down"></i></li>

	<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
		<span class="navbar-toggler-icon"></span>

	</button>

	<!-- Contents inside collapsible button -->
	<div class="collapse navbar-collapse" id="collapsibleNavbar">

		<ul class="navbar-nav mr-auto">
			<!-- To right align the next ul contents "mr-auto" class is used-->

			<li class="nav-item"><a class="nav-link" href="/"><i class="fa fa-home"></i> Home</a></li>

			<li class="nav-item"><a class="nav-link" href="/About"><i class="fa fa-info-circle"></i> About</a></li>

			<li class="nav-item"><a class="nav-link" href="/#contact" ng-click="scrollTo('contact')"><i class="fa fa-phone-square"></i> Contact</a></li>

			<li class="nav-item"><a class="nav-link" href="/Gallery"><i class="fa fa-picture-o"></i> Gallery</a></li>

			<li class="nav-item"><a class="nav-link" href="/Donate"><i class="fa fa-money"></i> Donate</a></li>

			<li class="nav-item"><a class="nav-link" href="/ZakathCalc"><i class="fa fa-calculator"></i> Zakath Calculator</a></li>

			<li class="nav-item dropdown d-none">
				<a class="nav-link dropdown-toggle" href="" id="navbardrop" data-toggle="dropdown">Donate</a>

				<div class="dropdown-menu dropdown-menu-right">
					<a class="dropdown-item" href="/Donate"><i class="fa fa-money"></i> Donate Now</a>
					<a class="dropdown-item d-none" href="/VerifyDonation">Verify My Donation</a>
					<a class="dropdown-item" href="/ZakathCalc"><i class="fa fa-calculator"></i> Zakath Calculator</a>
				</div>
			</li>
		</ul>

		<ul class="navbar-nav d-none">

			<li class="nav-item"><a class="btn btn-primary" style="border-radius: 0px 2px 0px 2px; " href="/Login">Sign In</a></li>

		</ul>

	</div>
</nav>
