<div class="homeStageBgImg" id="home">
	<div class="homeStageBgImg-caption p-2">
		<!-- hide on lg & above devices -->
		<h1 class="d-md-none display-4 mb-5" style="color: #111;">Serving The Needy Round The Clock</h1>
		<!-- show only in md & above devices -->
		<h1 class="d-none d-md-block display-3 mb-5" style="color: #111;">Serving The Needy Round The Clock</h1>

		<div class="mb-5 d-none h3" style="color: #000;">God gives us opportunity to serve him by serving humanity</div>
		<div class="mb-5 h3" style="color: #000;">Your Money gets used everyday of the year by the poor...</div>
		<a href="/Donate" class="btn btn-success btn-lg font-weight-bold rounded-circle p-3 mt-4 mb-3" id="donateStgBtn">It's Time To Donate</a>
	</div>
</div>
