<script>
	$(document).ready( function() {
		$('div > h4, p').addClass('text-center');
		$('div > p:not(:last)').after('<hr>');
	});
</script>
<div id="insideAbout" class="card bg-light">
	<h2 class="card-header m-0">About</h2>
	<div class="card-body">

		<div class="d-non">
			<h4 class="">Mission</h4>
			<p class="">The Al-Imdaad Society is a non-profit humanitarian
				organisation (NGO) registered in Telangana State of India, dedicated
				to providing humanitarian services in crisis and non-crisis
				situations to most needy widows, orphans and destitute.</p>
		</div>
		
		<div class="d-non">
			<h4 class="">Our Team</h4>
			<p class="">The Team of the Al-Imdaad Society dedicated to serve
				humanity with the skills and expertise that they are blessed with.
				The team comprises of Engineers, Doctors, Advocates, IT Specialists,
				Businessmen and other voluntary workers.</p>
		</div>
		
		<div class="">
			<h4 class="">Who We Are</h4>
			<p class="">We are a Small Team working for over 12 years for the
				financial development of Muslim poor and needy people in the
				society. We are passionate about what we do and constantly strive to achieve excellence.</p>
		</div>

		<div class="">
			<h4 class="">What We Do</h4>
			<p class="">We work for the uplifment of Muslim poor and needy people by
				providing financial assistance in marriages, education, treatment
				aid and monthly pension for the older and widow women in the society.</p>
		</div>

		<div class="">
			<h4 class="">How We do</h4>
			<p class="">We beleive in Collective System of Zakath, i.e we collect
				donations(zakath/Sadqa) throught the year mostly in the month of Ramazan from wealthy people and spend among the Muslim poor
				which allows us to perform our operations efficiently.</p>
		</div>
		
		<div class="d-non">
			<h4 class="">Where We do</h4>
			<p class="">We are currently working in and around the Town of Narayanpet, Telangana State, India. But we strongly beleive that with your donations and assistance we can expand our services in a much better way.</p>
		</div>
		
	</div>
</div>