<script>
	$(document).ready(function() {
		// $('[data-toggle="tooltip"]').tooltip();

		//$('#insideAbout div > h4, p').addClass('text-center');
		//line break after every paragraph
		$('div > p:not(:last)').after('<hr>');
	});
</script>
<div id="insideAbout" class="card bg-light">
	<h2 class="card-header m-0 mainHeading">About</h2>
	<div class="card-body">

		<div class="text-center">
			<div class="mb-2"><img src="/img/goal.svg" alt="" width="50"></div>
			<h4 class=""> Mission</h4>
			<p class="">The Alimdaad Society is a non-profit humanitarian organisation (NGO) registered in Telangana State of India, started with the main aim to establish <span style="border-bottom: 0.5px dotted black;">Collective System of Zakath </span><a href="#" data-toggle="tooltip"
				  title="Collective System of Zakath essentially means Collecting of Zakath from Contributors, Saving it and Distributing it round the year according to the needs of the poor. This system is adopted because usually people donate only in the month of Ramazan."><i class="fa fa-question-circle-o"></i></a>				and to distribute it round the year.</p>
		</div>

		<div class="text-center">
			<div class="mb-2"><img src="/img/0_percent.svg" alt="" width="50"></div>
			<h4 class="">At Zero Comission</h4>
			<p class="">The amount collected is purely distributed to the needy <span style="border-bottom: 0.5px dotted black;">without any penny</span> going towards the society’s expenditures.</p>
		</div>

		<div class="text-center">
			<div class="mb-2"><img src="/img/history clock button.svg" alt="" width="50"></div>
			<h4 class="">History</h4>
			<p class="">On the auspicious occasion of Ramazan-ul-Mubarak in October 2005, society was established under the guidance and chairmanship of <em>Alhaj Ahmed Meeran Mohiuddin Taj</em>, retired Engineer-in-Chief (R&amp;B Dept). Alhamdulillah, this work has been
				going on since last 12 years. <em>Abdul Kareem Taj</em>, a teacher by occupation dedicated his time and has been acting as a <mark>Zakath Distributor</mark> as well as the <mark>Treasurer</mark> of the society.</p>
		</div>

		<div class="text-center">
			<div class="mb-2"><img src="/img/group.svg" alt="" width="50"></div>
			<h4 class="">Our Team</h4>
			<p class="">The Team of the Al-Imdaad Society dedicated to serve humanity with the skills and expertise that they are blessed with. The team comprises of Engineers, Doctors, Advocates, IT Specialists, Businessmen and other voluntary workers.</p>
		</div>

		<div class="text-center">
			<div class="mb-2"><img src="/img/layers.svg" alt="" width="50"></div>
			<h4 class="">What We Do</h4>
			<p class="">We provide Financial Assistance for: <span class="badge badge-secondary">1</span> Poor Muslim Widows <span class="badge badge-secondary">2</span> Marriage of Poor Muslim Daughters <span class="badge badge-secondary">3</span> Loan Payments, &nbsp;Educational
				Assistance for Poor Muslim Families including providing basic Islamic Knowledge, &nbsp;Medical Assistance and &nbsp;Employment Assistance with emphasis on self-employment of girls.</p>
		</div>

		<div class="text-center">
			<div class="mb-2"><img src="/img/Businessman Avatar with Question Mark.svg" alt="" width="50"></div>
			<h4 class="">How We Do</h4>
			<p class="">We beleive in Collective System of Zakath, i.e the total collected zakath amount from various honorable persons in Ramazan-ul-Mubarak is distributed round the year among 300+ beneficiaries as a monthly allowance of INR.300 (Indian Rupee) for basic
				food expenses. Apart from this, INR.6000 to INR.10000 is also allotted for Marriages, Medical Treatments, Educational Assistance and Loan Repayment for eligible poor persons.</p>
		</div>

		<div class="text-center">
			<div class="mb-2"><img src="/img/placeholder.svg" alt="" width="50"></div>
			<h4 class="">Where We Do</h4>
			<p class="">We are currently serving in and around the Town of Narayanpet, Telangana State, India. But we strongly beleive that with your continuous donations and assistance we can expand our services in a much greater way.</p>
		</div>

	</div>
</div>
