<ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link tab-highliter" >Change Password</a>
  </li>
</ul>

<div class="card card-body bg-light ml-auto mr-auto col-md-6">

  <!-- To show error messages -->
  <div class="alert alert-success" id="cp-alert" style="display: none;">
    Your Password has been changed successfully. <a href="/Login">Login</a> here.
  </div>

  <!-- Password must have at least one digit (0-9), one lowercase character (a-z) or one uppercase character(A-Z). It can have minimum 8 characters and maximum 20 characters. -->
  <form>
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-user-secret fa-fw"></i></span>
      <input type="password" class="form-control" id="password" placeholder="New Password" required pattern="[a-zA-Z0-9*#/^]{6,20}" title="Allowed characters [a-z A-Z 0-9 * # / ^] of length 8 to 20."/>
    </div>
    <div class="form-group input-group">
      <span class="input-group-addon"><i class="fa fa-user-secret fa-fw"></i></span>
      <input type="password" class="form-control" id="cnf-password" placeholder="Confirm New Password" required pattern="[a-zA-Z0-9*#/^]{6,20}" title="Allowed characters [a-z A-Z 0-9 * # / ^] of length 8 to 20."/>
    </div>

    <button class="btn btn-primary w-100" type="submit" id="ChangePwdBtn">Change Password</button>
  </form>
</div>
<script type="text/javascript">

  $(function() {
    var url = window.location.pathname;
    var token = url.substring(url.lastIndexOf('/') + 1);
    var data = {password: $('#password').val()};
    $('#ChangePwdBtn').click(function() {
      $(this).attr('disabled', 'disabled');
      currentBtnId = $(this).attr('id');
      addLoadingIcon(currentBtnId);

      $.ajax({
        url: domainName+"/auth/ChangePassword/"+token,
        data: JSON.stringify(data),
        contentType: "application/json; charset=utf-8",
        method: "post",
        success: function(data) {
          $('div#cp-alert').show();
        },
        error: function(jqXhr, textStatus, errorThrown) {
          alert('An error occured, ' +JSON.parse(jqXhr.responseText).message);
        },
        complete: function() {
          removeLoadingIcon(currentBtnId);
          $('#password, #cnf-password').val('');
        }
      });

    })
  })
</script>
