<div id="galModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <img src="" id="imgGalModal" class="border border-dark" style="cursor: pointer; width: 100%;" onclick="window.open(this.src)">
      </div>
    </div>
  </div>
</div>

<div id="insideGallery">
  <h2 class="card-header mainHeading mb-4">Gallery</h2>
  <!-- <div ng-include="galleryCarousel"></div> -->
  <div class="bs-callout alert alert-dismissable fade show">
    Click on the image to view in full size.
    <button type="button" class="close" data-dismiss="alert">&times;</button>
  </div>
  <div class="row text-center d-md-flex align-items-center">
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/MediaImg-1.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-6.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-1.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-2.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-10.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>

    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-1.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-2.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-3.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-4.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-5.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <!-- <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-6.jpg" class="imgLoading img-gal" /></div> -->
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-7.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <!-- <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-8.jpg" class="imgLoading img-gal" /></div> -->
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/IMG-9.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>


    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-3.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-4.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-5.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-7.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-9.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/gal-img-8.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>


    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/MediaImg-2.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/MediaImg-3.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/MediaImg-4.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
    <div class="col-xl-3 col-md-4 col-6 mt-2 mb-2"><img src="images/gallery/MediaImg-5.jpg" class="imgLoading img-gal" data-toggle="modal" data-target="#galModal" width="100%" height="100%" /></div>
  </div>
</div>

<script type="text/javascript">
$(document).ready(function(){
  $('#insideGallery').on('click','img', function(){
    var p = $(this).attr('src');
    $('#imgGalModal').attr('src', p);
    // $('#galModal').modal('show');
  });
});
</script>
