<div id="insideDonate" class="">
  <h2 class="card-header mainHeading mb-4">Gallery</h2>
    <!-- <div ng-include="galleryCarousel"></div> -->
    <div class="row text-center" style="vertical-align: center;">
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-1.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-2.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-3.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-4.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-5.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-6.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-7.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-8.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="images/IMG-9.jpg" class="border rounded img-gal" /></div>


       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/gal-img-3.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/gal-img-4.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/gal-img-6.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/gal-img-1.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/gal-img-2.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/gal-img-5.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/gal-img-7.jpg" class="border rounded img-gal" /></div>


       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/MediaImg-3.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/MediaImg-1.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/MediaImg-4.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/MediaImg-2.jpg" class="border rounded img-gal" /></div>
       <div class="col-sm-4 mt-2 mb-2"><img src="img/gallery/MediaImg-5.jpg" class="border rounded img-gal" /></div>
     </div>
</div>
