<script>
  //remove container class on homepage to expand across the full width
  $(document).ready(function() {
    //remove default container class
    $('section.container').removeClass();


    // //make animation by toglling classes to home BgImage stage
    // $('#donateStgBtn')
    //   .removeClass('btn-lg font-weight-bold')
    //   .toggleClass('btn-lg font-weight-bold', 2000, function() {
    //     $(this).fadeOut();
    //     $(this).fadeIn(2000);
    //   });


    // var images = ['IMG-1','IMG-2','IMG-3','IMG-4','IMG-5','IMG-6'];
    // $(images).each(function(i) {
    // 	$('#slideshow').append('<div><img src="/img/' +images[i]+ '.jpg"/></div>');
    // });
    //
    // $("#slideshow > div:gt(0)").hide();
    //
    // setInterval(function() {
    //   $('#slideshow > div:first')
    //     .fadeOut(1000)
    //     .delay(1000)
    //     .next()
    //     .fadeIn(1000)
    //     .end()
    //     .appendTo('#slideshow');
    // }, 3000);


$('#galleryCarousel').load('views/galleryCarouselView.html');
$('.loader').removeClass('loader');
  });
</script>
<!-- home -->
<div class="homeStageBgImg" id="home">
	<div class="homeStageBgImg-caption p-2">
		<div class="display-3-res mb-5" style="color: #111;">Serving The Needy Round The Clock</div>
		<div class="mb-5 h3" style="color: #000;">Your Money gets used everyday of the year by the poor...</div>
		<a href="/Donate" class="btn btn-success btn-lg font-weight-bold rounded-circle p-3 mt-4 mb-3" id="donateStgBtn">It's Time To Donate</a>
	</div>
</div>

<!-- aboutView -->
<div ng-include="about" id="about"></div>

<!-- founderPortfolio is included in aboutView -->
<!-- <div ng-include="founderPortfolio"></div> -->

<!-- gallery slideshow -->
<!-- <div ng-include="galleryCarousel"></div> -->
<div id="galleryCarousel" class="loader"></div>

<!-- contact -->
<div ng-include="contact" id="contact"></div>
