<div ng-controller="loginCtlr">

	<ul class="nav justify-content-center">
		<li class="nav-item">
			<a class="nav-link" href="/Login" ng-class="getTabClass('/Login')">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Register" ng-class="getTabClass('/Register')">Register</a>
		</li>
	</ul>

	<!-- Login Tab View -->
	<div class="card card-body bg-light ml-auto mr-auto col-md-6">

		<!-- To show error messages -->
		<div class="{{loginResultClass}}">{{loginResultMessage}}</div>

		<!-- Password must have at least one digit (0-9), one lowercase character (a-z) or one uppercase character(A-Z). It can have minimum 8 characters and maximum 20 characters. -->
		<form id="loginForm" ng-submit="formSubmit()" autocomplete="on">
			<div class="form-group input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
				<input type="email" class="form-control" ng-model="email" name="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Email must be in the following order: characters@characters.domain"/>
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon"><i class="fa fa-user-secret fa-fw"></i></span>
				<input type="password" class="form-control" ng-model="password" name="password" placeholder="Password" required pattern="[a-zA-Z0-9*#/^]{6,20}" title="Allowed characters [a-z A-Z 0-9 * # / ^] of length 6 to 20."/>
			</div>
			<button class="btn btn-primary w-100" type="submit" id="loginBtn">Login</button>
		</form>
	</div>
		<ul class="nav justify-content-center">
			<li class="m-2"><a href="#" data-toggle="modal" data-target="#fp-modal">Forgot Password?</a></li>
			<li class="m-2"><a href="/Register">New User Registration</a></li>
		</ul>
<!-- Modal -->
<div class="modal fade" id="fp-modal" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Forgot Password</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

				<form class="">
					<div class="alert alert-info" id="fp-alert" style="display: none;">
						Check your inbox for the next steps. If you don't receive an email, and it's not in your spam folder this could mean you signed up with a different address.
					</div>
					<div class="form-group">
						<label for="">Enter your email address below and we'll send you a link to reset your password.</label>
						<input type="email" name="fp-email" placeholder="Email" class="form-control">
					</div>
				</form>
			</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" id="fp-reset">Submit</button>
      </div>
    </div>
  </div>
</div>

<script>
	$(document).ready(function() {
		$('#fp-reset').click(function() {
			$(this).attr('disabled', 'disabled');
			currentBtnId = $(this).attr('id');
	    addLoadingIcon(currentBtnId);
			$.ajax({
				url: domainName+"/ForgotPassword",
				data: "{}",
				method: "post",
				success: function(data) {
					$('#fp-alert').show().delay('4000').remove();
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					alert('An error occured ' + errorThrown);
				},
				complete: function() {
					removeLoadingIcon(currentBtnId);
				}
			});
		});
	});
</script>
