<div ng-controller="loginCtlr">

	<ul class="nav nav-tabs ml-auto mr-auto col-md-6">
		<li class="nav-item">
			<a class="nav-link" href="/Login" ng-class="getTabClass('/Login')">Login</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="/Register" ng-class="getTabClass('/Register')">Register</a>
		</li>
	</ul>
	<!-- <hr class="mt-auto mr-auto"> -->

	<!-- Login Tab View -->
	<div class="card card-body bg-light ml-auto mr-auto col-md-6">

		<!-- To show error messages -->
		<div class="{{loginResultClass}}">{{loginResultMessage}}</div>

		<!-- Password must have at least one digit (0-9), one lowercase character (a-z) or one uppercase character(A-Z). It can have minimum 8 characters and maximum 20 characters. -->
		<form id="loginForm" ng-submit="formSubmit()" autocomplete="on" novalidate>
			<div class="form-group input-group">
				<span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
				<input class="form-control" ng-model="email" name="email" placeholder="Email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" title="Email must be in the following order: characters@characters.domain"/>
			</div>
			<div class="form-group input-group">
				<span class="input-group-addon"><i class="fa fa-user-secret fa-fw"></i></span>
				<input class="form-control" ng-model="password" name="password" placeholder="Password" type="password" required pattern="[a-z A-Z 0-9]{3,20}" />
			</div>
			<button class="btn btn-primary w-100" type="submit" id="loginBtn">Login</button>
		</form>

	</div>


	<!-- <script>
	$(document).ready(function() {
		// $('#myTab').click(function(e) {
		// 	e.preventDefault();
		// })
		$('#loginBtn, #registerBtn').click(function() {
			$(this).attr('disabled', 'disabled');
			var _temp = $(this).text();
			$(this).html(_temp + ' <img src="/img/loading2_circlefill.svg" height="20" id="loading_icon" class="m-0"/>');
			$.ajax({
				url: "/auth-login",
				method: "post",
				data: $('#loginForm').serialize(),
				success: function(data) {
					/* alert(data); */
				},
				error: function(XMLHttpRequest, textStatus, errorThrown) {
					/* alert('An ' + textStatus + ' occured ' + errorThrown); */
				}
			});
		});

	});
</script> -->
