<div ng-controller="zakathCtlr" class="card">
	<h2 class="card-header">Zakath Calculator</h2>
	<div class="card-body">
	<p class="text-sm">Note: The Zakath Calculator is given only for
		your reference. Please don't rely on this alone for your Zakth
		Calculations.</p>
	<br>
	<form class="table-responsive">
		<table class="table table-hover table-striped"
			style="border: 1px solid #999;">
			<!-- <tr>
					<th colspan="2" style="text-align: center;">
						Name:&nbsp;<input type="text" placeholder="Name" >&nbsp;&nbsp;&nbsp;
						Date:&nbsp;<input type="date" placeholder="Date" >
					</th>
				</tr> -->

			<tr>
				<th colspan="2" class="bg-info text-center">
					Total Assets / Credit</th>
			</tr>

			<tr>
				<th>Cash at Home</th>
				<td><input class="form-control" type="number" ng-model="tcash"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Balance in Current / Savings Accounts (excluding interest)</th>
				<td><input class="form-control" type="number"
					ng-model="balance" ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Fixed Deposits (original value only)</th>
				<td><input class="form-control" type="number" ng-model="fd"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Shares (at market value)</th>
				<td><input class="form-control" type="number" ng-model="shares"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Bonds (at original value)</th>
				<td><input class="form-control" type="number" ng-model="bond"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>LICs, PLIs etc.</th>
				<td><input class="form-control" type="number"
					ng-model="lic_pli" ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>PF Contribution (EPF, GPF etc.)</th>
				<td><input class="form-control" type="number" ng-model="pf"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
			<tr>
				<th>Gold</th>
				<td><input class="form-control" type="number" ng-model="gold"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Silver</th>
				<td><input class="form-control" type="number" ng-model="silver"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Money Owed to You</th>
				<td><input class="form-control" type="number"
					ng-model="money_owed" ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Business</th>
				<td><input class="form-control" type="number"
					ng-model="business" ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Properties / Assets</th>
				<td><input class="form-control" type="number" ng-model="prop"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Other Credit</th>
				<td><input class="form-control" type="number"
					ng-model="ocredit" ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th colspan="2" class="bg-warning text-center">
					Total Debts</th>
			</tr>

			<tr>
				<th>Unpaid Loans / Debts</th>
				<td><input class="form-control" type="number" ng-model="debts"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th>Other Debts</th>
				<td><input class="form-control" type="number" ng-model="odebts"
					ng-change="calcZakath()"></td>
			</tr>

			<tr>
				<th colspan="2"class="bg-success text-center">
					Total Zakatable & Payable</th>
			</tr>

			<tr>
				<th style="color: green;">Total Amount Zakatable</th>
				<td><input value="{{zakatable}}" class="form-control"
					type="number" readonly="readonly"> <!-- value="{{(cash + balance + fd + shares + bonds + lic_pli+ pf + gold + silver + money_owed + business +prop + ocredit -  debts - odebts)}}" -->
				</td>
			</tr>

			<tr>
				<th style="color: green;">ZAKAT PAYABLE @ 2.5%</th>
				<td><input class="form-control" type="number"
					value="{{payable}}" readonly="readonly"> <!-- value="{{(0.025)*(cash + balance + fd + shares + bonds + lic_pli+ pf + gold + silver + money_owed + business +prop + ocredit -  debts - odebts)}}" -->
				</td>
			</tr>

		</table>
	</form>
	<div style="text-align: center; display: none;">
		<button type="reset" value="Reset" class="btn btn-primary"
			ng-click="resetVal()"></button>
		&nbsp;&nbsp;
	</div>
</div>
</form>
</div>
</div>
